// Override Bs4 variables and custom mixins
$theme-colors: (
        'primary': #009CAB,
        'danger': #F04C25
);
$main1: #1d24ab !default;
$main2: #ffda10 !default;


.borderbottom {
  border-bottom: 3px solid $main1;
}

.margin-top{
  margin-top: 100px;
}

.imgmargin {
  margin-left: 25px;
  margin-top: 25px;
}



.bg-main {
  background-color: $main1 !important;
}
.bg-main2 {
  background-color: $main2 !important;
}

.bg-white{
  background-color: white !important;
}


.btn-outline-info {
  color: $main1 !important;
  background-color: transparent;
  background-image: none;
  border-color: $main1 !important;
}

.btn-outline-info:hover {
  color: $main2 !important;
  background-color: $main1 !important;
  border-color: $main1 !important;
}

.Red {
  background-color: red;
  height: 25px;
}

.yellow {
  background-color: yellow;
  height: 25px;

}

.black {
  background-color: black;
  height: 25px;
}
button{
  cursor: pointer;
}

//woordanimatie Senne

#woordAnimatie{
  -webkit-animation:scaling 8s ease 1 0s normal forwards;
}

@-webkit-keyframes scaling {

  from {
  }
  0%{
    -webkit-transform:scale(0,0);
  }

  50%{
    -webkit-transform: scale(1,1);
  }


  100% {
    -webkit-transform: scale(2,2);
  }

  to {
    -webkit-transform: scale(2,3);
    background-color: transparent;
    color: $main1;
  }
}

#woordAnimatie{
  -moz-animation:scaling 8s ease 1 0s normal;
}

@-moz-keyframes scaling {

  from {
  }
  0%{
    -moz-transform:scale(0,0);
  }

  50%{
    -moz-transform: scale(1,1);
  }


  100% {
    -moz-transform: scale(2,2);
  }

  to {
    -moz-transform: scale(2,3);
    background-color: transparent;
    color: $main1;
  }
}

#woordAnimatie{
  -ms-animation:scaling 8s ease 1 0s normal forwards;
}

@-ms-keyframes scaling {

  from {
  }
  0%{
    -ms-transform:scale(0,0);
  }

  50%{
    -ms-transform: scale(1,1);
  }


  100% {
    -ms-transform: scale(2,2);
  }

  to {
    -ms-transform: scale(2,3);
    background-color: transparent;
    color: $main1;
  }
}

.borders{
  border-bottom: 2px solid $main1;
  border-top: 2px solid $main1;
  border-left: 2px solid $main1;
  border-right: 2px solid $main1;
}

.bordersextopbot
{

  border-left: 2px solid $main1;
  border-right: 2px solid $main1;
}




//403 ERROR
.background403 {
  background-color: black;
  background-image: url(../images/403.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: 'Oswald', sans-serif;
}

//404 ERROR
.background404 {
  background-color: black;
  background-image: url(../images/404.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

}

#error {
  font-family: 'Oswald', sans-serif;
  font-size: 65px;
  color: white;
  text-align: center;
  padding-top: auto;
}

.errorcontainer {
  text-align: center;
  padding-top: 50px;
}


// Link to BS4
@import "../node_modules/bootstrap/scss/bootstrap";

// Custom code/partials