// Override Bs4 variables and custom mixins
$theme-colors: (
        'primary': #009CAB,
        'danger': #F04C25
);
$main1: skyblue !default;
$main2: gray !default;

//font

.font {
  font-family: 'Montserrat', sans-serif;
  color: black;
}

.animatiefont {
  font-family: 'Permanent Marker', cursive;
  color: white;
}

//borders
.borderleft {
  border-left: 3px solid black;
}

.borderright {
  border-right: 3px solid black;
}

.borderbottom {
  border-bottom: 3px solid $main1;
}

.bordersextopbot {

  border-left: 2px solid $main1;
  border-right: 2px solid $main1;
}

//tabelopmaak
.tabel table, th, td {
  border: 2px solid $main1;
  background-color: white;
}

//breekpunt
@media (max-width: 575px) {
  .imagesm {

    max-width: 100%;
    height: auto;
  }

}

//counter
body {
  counter-reset: my-sec-counter;
}

.counter td::before {

  counter-increment: my-sec-counter;
  content: "Section " counter(my-sec-counter) ". ";
}
//margins/paddings
.margintop75 {
  margin: 75px;
}

.minimargintop {
  margin-top: 25px;
}

.marpad-bot5 {
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.paddingbot5 {
  padding-bottom: 5px;
}

.imgmargin {
  margin-left: 25px;
  margin-top: 25px;
}

.margintopSennek {
  margin-top: 25px;
}

//aanpassingen

.jumbopad {

  padding: 20px 1rem;
  margin-bottom: 0px;
  background-color: #e9ecef;
  border-radius: 0px;

}

//bg colors
.bg-main {
  background-color: $main1 !important;
}

.bg-main2 {
  background-color: $main2 !important;
}

.bg-white {
  background-color: white !important;
}

//bgimage

.bg-image {
  background-image: url("../images/abstract.jpg");
  background-attachment: fixed;
}

//buttons
.btn-outline-info {
  color: $main1 !important;
  background-color: transparent;
  background-image: none;
  border-color: $main1 !important;
}

.btn-outline-info:hover {
  color: $main2 !important;
  background-color: $main1 !important;
  border-color: $main1 !important;
}

button {
  cursor: pointer;
}

.btn-reverted {
  color: $main2 !important;
  background-color: transparent;
  background-image: none;
  border-color: $main2 !important;
}

.btn-reverted:hover {
  color: $main1 !important;
  background-color: $main2 !important;
  border-color: $main2 !important;
}

//hover link
.whitehover {
  color: white;
}

.whitehover:hover {
  color: $main1;
}

//woordanimatie Senne

#woordAnimatie {
  -webkit-animation: scaling 8s ease 1 0s normal forwards;
}

@-webkit-keyframes scaling {

  from {
  }
  0% {
    -webkit-transform: scale(0, 0);
  }

  50% {
    -webkit-transform: scale(1, 1);
  }

  100% {
    -webkit-transform: scale(2, 2);
  }

  to {
    -webkit-transform: scale(2, 3);
    background-color: transparent;
    color: white;
  }
}

#woordAnimatie {
  -moz-animation: scaling 8s ease 1 0s normal;
}

@-moz-keyframes scaling {

  from {
  }
  0% {
    -moz-transform: scale(0, 0);
  }

  50% {
    -moz-transform: scale(1, 1);
  }

  100% {
    -moz-transform: scale(2, 2);
  }

  to {
    -moz-transform: scale(2, 3);
    background-color: transparent;
    color: white;
  }
}

#woordAnimatie {
  -ms-animation: scaling 8s ease 1 0s normal forwards;
}

@-ms-keyframes scaling {

  from {
  }
  0% {
    -ms-transform: scale(0, 0);
  }

  50% {
    -ms-transform: scale(1, 1);
  }

  100% {
    -ms-transform: scale(2, 2);
  }

  to {
    -ms-transform: scale(2, 3);
    background-color: transparent;
    color: white;
  }
}

//403 ERROR
.background403 {
  background-color: black;
  background-image: url(../images/403.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: 'Oswald', sans-serif;
}

//404 ERROR
.background404 {
  background-color: black;
  background-image: url(../images/404.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

}

.error {
  font-family: 'Oswald', sans-serif;
  font-size: 65px;
  color: white;
  text-align: center;
  padding-top: auto;
}

.errorcontainer {
  text-align: center;
  padding-top: 50px;
}

//logoonepager
.logoklein {
  width: 50px;
  height: 50px;
}

.nikshover a:hover {

  text-decoration: none !important;
}

// Link to BS4
@import "../node_modules/bootstrap/scss/bootstrap";

// Custom code/partials